{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thalia talula</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>   
    {% block content %} {% include 'myNavbar.html' %} {% endblock %}
    <section name="form">
        <h1 style="font-size: 3vw; text-align: center"><strong>Schedule Form</strong></h1>
        <br>
        <br>
        <div class="row">
            <div class= col-md-5></div>
            <div class= col-md-2>
                <form id="formpage5" method="POST" action="{% url 'page5post' %}">
                    {% csrf_token %}
                    <h1>Nama Kegiatan :</h1>
                    {{ form_jadwal.namaKegiatan }}
                    <h1>Hari :</h1>
                    {{ form_jadwal.hari }}
                    <h1>Waktu:</h1>
                    {{ form_jadwal.waktu }}
                    <h1>Tempat :</h1>
                    {{ form_jadwal.tempat }}
                    <h1>Kategori :</h1 >
                    {{ form_jadwal.kategori }}
                    <br>
                    <br>
                    <br>
                    <button type="submit" class="btn btn-default" style="font-size: 1vw;">Submit</button>
                    
                </form>
            </div>
            <div class= col-md-5></div>
        </div>    
    </section>
    
</body>
</html>
