{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thalia talula</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>   
    {% block content %} {% include 'myNavbar.html' %} {% endblock %}
    <h1 style="font-size: 3vw; text-align: center"><strong>My Schedule</strong></h1>
    <br>
    <br>
    
    <div class="row">
        <div class= col-md-2></div>
        <div class= col-md-8>
        <table class="table">
            <thead>
                <th style="font-size: 1.5vw; text-align: center;">Hari</th>
                <th style="font-size: 1.5vw; text-align: center;">Waktu</th>
                <th style="font-size: 1.5vw; text-align: center;">Nama Kegiatan</th>
                <th style="font-size: 1.5vw; text-align: center;">Tempat</th>
                <th style="font-size: 1.5vw; text-align: center;">Kategori</th>
            </thead>
            <tbody>
                {% for a in jadwal %}
                <tr>
                    <td style="font-size: 1vw; text-align: center;"> {{a.hari}} </td>
                    <td style="font-size: 1vw; text-align: center;"> {{a.waktu}} </td>
                    <td style="font-size: 1vw; text-align: center;"> {{a.namaKegiatan}} </td>
                    <td style="font-size: 1vw; text-align: center;"> {{a.tempat}} </td>
                    <td style="font-size: 1vw; text-align: center;"> {{a.kategori}} </td>
                </tr>             
                {% endfor %}
            </tbody>
        </table>
        <br>
        <form action="{% url 'deleteSchedule' %}" method='post'>
        <center><button style="font-size: 1vw;">Delete All</button></center>
        {% csrf_token %}
        </form>



        </div>
        <div class= col-md-2>
    </div>
        
</body>
</html>
