{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thalia talula</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	 <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	{% block content %}
	<div class="row">
		<nav class="navbar navbar-expand-sm" id="navbar1">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		      <li><a class="navbarli" href="page1.html">Home</a></li>
		      <li><a class="navbarli" href="page2.html">Profile</a></li>
		      <li><a class="navbarli" href="page3.html">Feedback</a></li>
		      <li><a class="navbarli" href="page4.html">Register</a></li>
		      <li><a class="navbarli" href="page5form.html">Schedule Form</a></li>
		      <li><a class="navbarli" href="page5schedule.html">Schedule</a></li>
		    </ul>
		  </div>
		</nav>
	</div>
	{% endblock %}
</body>
</html>