{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thalia talula</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>    
  <div class="row">
    
    {% block content %} {% include 'myNavbar.html' %} {% endblock %}

    <div class="col-sm-12">
        <img src="https://preview.ibb.co/dFuPEz/as_waifu2x_photo_noise2_scale_tta_1.png" width="100%" height="500px" style="position: relative; margin-top: -20px; max-width:100%; height:auto;"/> 
        <p class="center">hello! i'm lula</p>
        <img src="https://image.ibb.co/jiV9ge/c.jpg" class="rounded-circle" id="foto1" width="14%" height="14%" style="max-width:100%; height:auto;" />
        
        <div class="bio">
            <h1 id="bio" style="font-size: 2.5vw;">Bio:</h1>
              name: thalia talula kesuma putri<br> 
              nickname: lula<br>
              age: 19<br>
              date of birth: 11 april 1999<br>
              address: pondok duta 1 jln.duta 5 no.7<br>
              phone: 02123456789
        </div>
    </div>
  </div>

<br>

  <div class="row col-sm-12 row1bawah">
    <div class="col-sm-3 apakek">
      <h1><strong>Education</strong></h1><br>
      <p>2005 – 2011: SDIT Nurul Fikri</p>
      <p>2011 – 2014: SMPIT Nurul Fikri</p>
      <p>2014 – 2017: SMAN 2 Depok</p>
      <p>May 2017 – now: Faculty of Computer Science, University of Indonesia</p>      
    </div>

    <div class="col-sm-3 apakek">
      <h1><strong>Experience</strong></h1><br>
      <p>smadadaralaga</p>
      <p>sensation</p>
      <p>akar smada</p>
      <p>computer science league</p>
      <p>compfest</p>
    </div>   

    <div class="col-sm-3 apakek">
      <h1><strong>Skills</strong></h1>
      <p>- ability to work independently or as part of a team</p>
      <p>- excellent verbal and written communication skills</p>
      <p>- proficiency with microsoft word, power point, excel, python, java, html, and css</p>

    </div>         
  </div>
</body>
</html>