{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thalia talula</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    {% block content %} {% include 'myNavbar.html' %} {% endblock %}

	<div class="header2">
		<img src="https://preview.ibb.co/k979Uz/abundant_watercolor_background_about.png" width="83%" height="250px" style="max-width:100%; height:auto;">
	</div>

	<br>
	
	<div class="row">
		<div class="col-4 foto2">
			<img src="https://preview.ibb.co/hhYmbe/IMG_6424.jpg" width="65%" height="65%" style="max-width:100%; height:auto; float: right">
		</div>
		<div class="col-7 desc">
			<h1 style="font-size: 2.7vw;">Thalia Talula Kesuma Putri</h1> <br>
			<p>Hello! You can call me Talula or Lula. I am nineteen years old. I lived in depok with my family. I think I am a nice person though have negligible weaknesses, have a good amount of likeable good qualities too. I am sincere and responsible. I am not a very intelligent student but sure I am dynamic as I am capable of managing and handling serious and difficult situations easily and finish all tasks well. I like to stay simple and uncomplicated and live joyously enjoying every moment of my life.</p>
		</div>
	</div>
	
</body>
</html>