{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thalia talula</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    
    {% block content %} {% include 'myNavbar.html' %} {% endblock %}
    <h1 class="textregis"><strong><br>Register account :</strong></h1><br>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4 allform">
          <form class="form3">
              <div class="form-group">
                  <label class="control-label col-sm-12 textform">Nama:</label>
                    <div class="col-sm-12 plis">
                      <input type="text"  id="nama" placeholder="Enter nama">
                    </div>
              </div>
              
              <div class="form-group">
                  <label class="control-label col-sm-12 textform">Tanggal Lahir:</label>
                    <div class="col-sm-12 plis">          
                      <input type="date" id="tgl" placeholder="Enter tanggal lahir">
                    </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-12 textform">Email:</label>
                    <div class="col-sm-12 plis">          
                      <input type="email" id="email" placeholder="Enter email">
                    </div>
              </div>
              
              <div class="form-group">
                  <label class="control-label col-sm-12 textform">Username:</label>
                    <div class="col-sm-12 plis">          
                      <input type="text" id="uname" placeholder="Enter username">
                    </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-12 textform">Password:</label>
                    <div class="col-sm-12 plis">          
                      <input type="password" id="pwd" placeholder="Enter password">
                    </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-sm-12 textform">Password Confirmation:</label>
                    <div class="col-sm-12 plis">          
                      <input type="password" id="pwdcf" placeholder="Enter pass confirmation">
                    </div>
              </div>

              <div class="form-group">        
                  <div class="col-sm-12">
                    <button type="button" class="btn btn-default" id="button">Daftar</button>
                  </div>
              </div>
          </form></div>
        <div class="col-4"></div>
      </div>
  
</body>
</html>